.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  margin-top: 70px;
  width: 100%;
}

.contact .leftSide {
  height: 100%;
  flex: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding-right: 100px;
}

.contact .rightSide h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 20px;
  color: black;
}
.contact .rightSide p {
  font-size: 18px;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .contact {
    flex-direction: column;
    width: 100%;
  }
  .contact .rightSide {
    margin-top: 30px;
  }
}
