.services {
  min-height: 100%;
  margin-top: 100px;
  padding-bottom: 200px;
}
.title {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  color: teal;
  text-transform: uppercase;
}
.cards {
  width: 65%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}
.card {
  width: 30%;
  height: 30%;
  margin: 15px 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
.card img {
  max-width: 100%;
}
.card img:hover {
  opacity: 0.9;
  transform: scale(1.01);
}
.card .text {
  padding: 6px;
  text-align: center;
}
.card .text > button {
  background: teal;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 7px;
  font-size: 20px;
}
.card .text > button:hover {
  background: white;
  border: 0;
  color: rgb(9, 88, 88);
  padding: 10px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid teal;
}
@media screen and (max-width: 575px) {
  .cards {
    flex-direction: column;
    width: 100%;
  }
  .card {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 900px) {
  .cards {
    flex-direction: column;
    width: 90%;
  }
  .card {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 1018px) {
  .cards {
    flex-direction: column;
    width: 90%;
  }
  .card {
    width: 100%;
    margin: auto;
  }
}
